<% content_for :back_link, render_back_link(href: document_path(@edition.document)) %>

<% if @edition.document.newly_created? %>
  <% content_for :title, t("content.edit.title_new", document_type: @edition.document_type.label.downcase) %>
<% else %>
  <% content_for :title, t("content.edit.title", title: @edition.title_or_fallback) %>
<% end %>

<%= form_tag(
      content_path(@edition.document),
      method: :patch,
      html: { class: "app-c-contextual-guidance__form" },
      data: {
        module: "edit-document-form",
        "url-preview-path": generate_path_path(@edition.document),
        "warn-before-unload": "true",
        gtm: "edit-document-submit"
      }
    ) do |f| %>

  <% @edition.document_type.fields.each do |field| %>
    <%= render "content/edit/#{field.id}_field", edition: @edition, issues: @issues, field: field, content: @edition.contents[field.id] %>
  <% end %>

  <% if @edition.document.live_edition %>
    <%= render "content/edit/change_notes", edition: @edition %>
  <% end %>

  <div class="govuk-button-group govuk-!-margin-bottom-4">
    <%= render "govuk_publishing_components/components/button", {
      text: "Save",
      margin_bottom: true
    } %>

    <% if @edition.document_type.label.downcase.include?("multi-part") %>

      <%= render "govuk_publishing_components/components/checkboxes", {
        name: "collapsable",
        items: [
          {
            label: "Part collapsable?",
            value: "collapsable"
          }
        ]
      } %>

      <% if @edition.revision_synced %>
        <%= render "govuk_publishing_components/components/button", {
          text: "Add new Part",
          margin_bottom: true,
          secondary_solid: true,
        } %>
      <% end %>
    <% end %>

    <%= link_to("Back", document_path(@edition.document), class: "govuk-link") %>
  </div>

<% end %>
